.notifications {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  &--notification-card {
    width: 100%;
    padding: 1rem 0;
    @include md {
      padding: 1rem;
    }
    display: grid;
    border-radius: 6px;
    grid-template-columns: 2fr 8fr;
    @include md {
      grid-template-columns: 1fr 8fr;
    }
    grid-template-rows: auto auto;
    margin-bottom: 10px;

    .avatar {
      grid-column: 1;
      grid-row: 1;
      img {
        max-height: 3rem;
        border-radius: 50%;
      }
    }
    .notification-text {
      position: relative;
      grid-column: 2;
      grid-row: 1;
      color: $c-Grayish-blue;
      .name {
        color: $c-Very-dark-blue;
        font-weight: 800;
      }
      .post-link {
        color: $c-Dark-grayish-blue;
        font-weight: 800;
      }
      .group {
        color: $c-blue;
        font-weight: 800;
      }
      .status-dot {
        position: relative;
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-left: 6px;
        background-color: $c-red;
      }
      .time-stamp {
        color: $c-Grayish-blue;
      }
      .post-picture {
        position: absolute;
        width: 3rem;
        height: 3rem;
        border-radius: 6px;
        top: 26px;
        right: 10px;
        @include md {
          top: 4px;
          right: 10px;
        }
      }
    }
    .private-msg {
      grid-column: 2;
      grid-row: 2;
      padding: 1rem;
      margin-top: 10px;
      color: $c-Grayish-blue;
      border: 1px solid $c-Light-grayish-blue-1;
      border-radius: 8px;
    }
  }
}

.hidden-dot {
  opacity: 0;
}

.new-post {
  background-color: $c-Very-light-grayish-blue;
}
